<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #cccccc;
        }
    </style>
    <h1>
        To Do List
    </h1>
    <!--<link rel="stylesheet" type="text/css" href="/css/table.css">-->
</head>
<body>
<div>
    <table>
        <thead>
        <th>id</th>
        <th>할일</th>
        <th>참조 할일 id</th>
        <th>작성일시</th>
        <th>최종수정일시</th>
        <th>완료처리</th>
        </thead>
        <tbody>
        <tr th:each="toDo : ${toDoList}">
            <td th:text="${toDo.id}"></td>
            <td th:text="${toDo.toDo}"></td>
            <td th:text="${toDo.refList}"></td>
            <td th:text="${toDo.registerDate}"></td>
            <td th:text="${toDo.modifyDate}"></td>
            <td th:text="${toDo.isDone} > 0 ? Y : N"></td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">

</script>
</body>
</html>