.formDiv {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
}

.formInputSummit {
    background-color: #45a049;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.formPageSummit {
    background-color: #45a049;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 20px;
    cursor: pointer;
    border-radius: 8px;
    float: left;
}

.formInputText {
    width: 20%;
    padding: 12px 20px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}